.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 50px;
  border-radius: 16px;
  color: rgb(135, 135, 135);
  background: #dfeaee;
  padding-top: 10px;
  padding-bottom: 30px;
}

.Weather h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 50px;
  margin: 30px 0;
  line-height: 50px;
  padding-bottom: 20px;
  padding-top: 5px;
  color: #4c4f4d;
  font-weight: bold;
}

.Weather .btn {
  background: rgb(135, 135, 135);
}
.Weather ul {
  margin: 0;
  padding: 10px;
}
.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
  margin-bottom: 2px;
  padding-top: 2px;
}
.Weather canvas {
  margin-top: 25px;
}

.Weather .temperature {
  font-weight: bold;
  color: rgb(33, 33, 33);
  font-size: 52px;
  margin-left: 0px;
  font-weight: 520;
}
.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -24px;
}
.Weather form {
  margin-top: 50px;
  border-bottom: 1px solid #f9f7fe;
  padding-bottom: 50px;
}
